data/plan1/* filter=lfs diff=lfs merge=lfs -text
data/plan2/* filter=lfs diff=lfs merge=lfs -text
data/plan3/* filter=lfs diff=lfs merge=lfs -text
data/plan4/* filter=lfs diff=lfs merge=lfs -text
data/pancreas_eclipse_angle_CCB/RD.Patient07_Plan1.dcm filter=lfs diff=lfs merge=lfs -text
data/pancreas_eclipse_angle_CCB/RN.Patient07_Plan1.dcm filter=lfs diff=lfs merge=lfs -text
data/pancreas_eclipse_angle_CCB/RS.Patient07_Plan1.dcm filter=lfs diff=lfs merge=lfs -text
